/* admin.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/gallery-2.jpg'); /* Replace with the actual path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background-color: dimgrey;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-field {
  width: 94%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  width: 25%; /* Adjust the width of the button */
  margin-top: 10px; /* Add margin to create space between inputs and button */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  color: #e74c3c;
}

.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: lightslategray;
}

.password-toggle.visible {
  color: #007bff;
}