/* adminPage.css */

.admin-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    text-align: center;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #000;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .logout-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
  }
  .logout-container {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  